<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Керри-Блю-Терьер</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='slick-1.8.1/slick/slick.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='slick-1.8.1/slick/slick-theme.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='media.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">
</head>
<body>
	<header class="header">
		<h1 class="title">Керри-Блю-Терьер</h1>
	</header>
	<main class="main">
		{%  block content  %}{%  endblock  %}
		</main>
		<footer class="footer">	
			<a href="{{url_for('index') }}" class="button">преимущества керри</a>
			<a href="{{url_for('snoop') }}" class="button">о заводе собаки</a>
			<a href="{{url_for('about') }}" class="button">О нас</a>
		</footer>

	{%  block script  %}{%  endblock  %}

</body>
</html>