{%  extends "base.html"  %}

{%  block content  %}
	<div class="slider">
		<div class="item" style="background: url({{ url_for('static', filename='2.jpg') }}) center/cover no-repeat;"></div>
		<div class="item" style="background: url({{ url_for('static', filename='3.jpg') }}) center/cover no-repeat;"></div>
		<div class="item" style="background: url({{ url_for('static', filename='1.jpg') }}) center/cover no-repeat;"></div>

		<!-- <img src="1.jpg" alt="Керри-Блю-Терьер"> -->
	</div>
	<p class="text">	История
Керри блю терьер происходит из графства Керри - одной из горных областей Ирландии. Точное время возникновения неизвестно, но предположительно это начало 19 века. Изначально, керри блю терьер использовался как рабочая собака, выполняющая самые разнообразные функции. В частности, эти питомцы пасли овец, коз и даже коров, охраняли территорию и оберегали дом в качестве сторожевой собаки, уничтожали грызунов на подохранной территории, а также помогали на охоте - их высоко ценили в охоте на мелкую дичь. Кроме того, пёс помогал и в охоте на птицу.

Как видите, животное действительно было довольно универсальным, и люди тех лет ценили его, в первую очередь, за полезность и дружелюбный характер. В конечном итоге, как и другие терьеры, керри блю был высоко оценен и признан Английским кеннел клубом в качестве самостоятельной породы.

Агрессивная, боевая часть характера развивалась заводчиками преднамеренно, причём, на первых выставках собак Ирландский клуб собаководов в обязательном порядке проводил тест на «gameness», и собак с недостаточным уровнем агрессии просто не допускали. Это был своего рода отборочный этап, в результате чего порода обрела ещё одно, неофициальное, название - «голубой дьявол». Для проверки использовали кроликов и барсуков.

В начале 20 века ирландский патриот по имени Майкл Коллинз выступил с инициативой предоставления породе статуса Национальной собаки Ирландии. Его собственного пса породы керри блю терьер звали «Осужденным 225». Необычная кличка для собаки - здесь не поспоришь. Коллинз был убит на почве патриотической деятельности (борьба с властями Великобритании), однако после его смерти, прежде, чем закон был принят, интерес к инициативе был потерян.

Как порода попала в США не совсем понятно, но считается что именно после этого керри блю терьер стал постепенно распространяться по миру.

На Вестминстерской выставке в 1922 году их впервые представили любителям собак в США, а официально признана Американским Кеннел Клубом порода была в 1924 году.

</p>
	
	<video src="	"></video>
		{%  endblock content  %}

		{%  block script  %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='slick-1.8.1/slick/slick.js') }}" type="text/javascript"></script>
	<script>
		$(document).ready(function () {
			$('.slider').slick({
				infinite: true,
				slidesToShow: 1,
				arrows: false,
				autoplay: true,
				autoplaySpeed: 5000
			});
			console.log(10);
		});
	</script>
	{%  endblock script  %}


